body, html, h1{
    padding:0;
    margin:0;
}


.image {
background-image: url(../images/landing.jpg);
background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;


  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  text-align: center;     
  color: white;
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.bild {
 
  height: 40px;
  
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  
}

.mhead {
 display: flex;
 justify-content: center;
 align-items: center;
}

.mtext {
    display: flex;
    justify-content: center;
}

.ws{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #00B172
;
    
}

.u{
    text-decoration: underline;
}


.spt{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
    
}

.items {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
width: 25%;
}





.spotify img{
    height: 50px;

}

.spotify h2{
    color: #00B172;
}


.backg{
    background-color:#00B172 ;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ic{
    height: 100px;
}

.kw{
    height: 375px;
}

.textandicon{
    display: flex;
    align-items: center;
}

.sptitle{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF
*/
